@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open sans condensed";
  src: url("/open_sans_condensed.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
